<ion-content>
  <div class="padding">
    
    <img src="assets/img/icone-inge.png">
    <br>
    <br>
    <br>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col> 
          <section>
            <ion-button expand="block" color="dark" href="register-inge">Je suis ingénieur du son</ion-button>
          </section>
        </ion-col>
        <br>
        <br>
        <br>
        <ion-col>
          <section>
            <ion-button expand="block" color="light" href="register-client">Je cherches un ingénieur du son</ion-button>
          </section>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-button expand="full" size="small" fill="clear" href="login">J'ai déjà un compte</ion-button>
    

  </div>
</ion-content>
