<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Réinitialisation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="dark" expand="block">Envoyer</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Vous allez recevoir un e-mail qui vous permettras de réinitiliser votre mot de passe.
    </small>
  </form>
</ion-content>